.div-contenedor {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/background/banner3.png');
    background-size: cover;
    background-position: top;


    display: grid;
    grid-template-rows: repeat(1fr auto);
    padding-left: 25px;
    align-content: center;
    text-align: start;

    gap: 20px;
}

.div-contenedor .texto{
    font-size: 13px;
    width: 300px;
    font-weight: bolder;
    color: white;
    text-align: left;
}

.div-contenedor .again {
    color: white;
}

.div-contenedor .in {
    color: white;
    margin-top: 80px;
}

.div-contenedor .arrowLeft {
    margin-top: 225px;
    margin-bottom: 50px;
    width: 5%;
    height: 15px;
}

.divEnter {
    width: 355px;
    height: 50px;

    border: 1px solid #6342E8;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 25px 1fr 25px;

    gap: 10px;
    padding: 10px;
    color: #AEAEAE;
}

.sobre {
   width: 100%;
}

.divEnter input {
    border: 0;
    outline: none;
}

.div-contenedor .adress {
    color: black;
    margin-bottom: -10px;
}
.divEntrar {
    width: 355px;
    height: 50px;

    border: 1px solid #D2D2D2;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 25px 1fr 25px;

    gap: 10px;
    padding: 10px;
    color: #AEAEAE;
}
.divEntrar input {
    border: 0;
    outline: none;
    margin-top: 0px;
}

.candado img {
    width: 100%;
}

/* Estilos adicionales */
.checkbox-div {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}
.me {
    margin-left: -100px;
}
.hlo {
    margin-left: 10px;
}
.checkbox-div label {
    color: #AEAEAE;
    margin-left: -170px;
}

.forgot-password {
    color: #6342E8;
    text-decoration: none;
    font-size: 10px;
    margin-right: -50px;
}

.login-button {
    background-color: #6342E8;
    color: white;
    border: none;
    border-radius: 54px;
    width: 355px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}

.register-text {
    color: #AEAEAE;
    margin-top: 20px;
}

.register-text a {
    color: #6342E8;
    text-decoration: none;
}

.conjunto a {
    color: #6342E8;
    text-decoration: none;
}

.conjunto {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

/* Ajustes para los elementos existentes */
.div-contenedor h2 {
    color: #6342E8;
    margin-bottom: 10px;
}

.div-contenedor p {
    color: #AEAEAE;
    text-align: center;
    max-width: 300px;
    margin-bottom: 20px;
}